@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 3rem 0rem;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.btn-container {
  position: relative;
}

.alert {
  text-align: center;
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 100px;
  width: 400px;
}

.alert-danger {
  color: #f8f9fa;
  background-color: #e74c3c;
}

.alert-success {
  color: #f8f9fa;
  background-color: #2ecc71;
}

.center {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 2rem;
}

.center .grocery-form {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center .grocery-form input {
  padding: 1rem;
  width: 250px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 10px 0px 0px 10px;
}

.center .grocery-form button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #f8f9fa;
  background: purple;
  background-color: #2ecc71;
  height: 54px;
  width: 54px;
  border-radius: 0px 10px 10px 0px;
}

.center .grocery-form button:hover {
  background-color: #2ecc70c4;
}

.center .grocery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.center .grocery-item .title {
  text-transform: capitalize;
}

.center .grocery-item .btn-container button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #f8f9fa;
}

.center .grocery-item .btn-container .edit-btn {
  background-color: #f1c40f;
}

.center .grocery-item .btn-container .edit-btn:hover {
  background-color: #f1c40fc7;
}

.center .grocery-item .btn-container .delete-btn {
  background-color: #e74c3c;
}

.center .grocery-item .btn-container .delete-btn:hover {
  background-color: #e74d3ccb;
}

.center .clear-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #f8f9fa;
  background: purple;
  width: 320px;
  margin: auto;
  display: block;
  background-color: #e74c3c;
}

.center .clear-btn:hover {
  background-color: #e74d3ccb;
}
/*# sourceMappingURL=app.css.map */